@page
@model Web.Fox.Pages.LoginModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Login";
    ViewBag.RenderNavbar = false;
}

<main class="form-signin w-100 vh-100 m-auto d-flex justify-content-center align-items-center ">
    <form method="post">
        <div class="card p-5 bg-light">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input class="form-control" type="text" asp-for="UserLogin" placeholder="Username" id="userloginInput" />
                <label for="userloginInput">Username</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" asp-for="UserPassword" placeholder="Username" id="passwordInput" />
                <label for="userloginInput">Password</label>
            </div>
            <div class="mt-3">
                @if (!string.IsNullOrEmpty(Model.Msg))
                {
                    <div class="alert alert-warning mb-1" role="alert">
                        @Model.Msg
                    </div>
                }
                <button class="btn btn-primary w-100" type="submit">Login</button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Fox Web App - 2023</p>
    </form>
</main>